// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
/*图标*/




.ion-ios-pin-outline:before,.ion-md-pin-outline:before{
  content: "\f1e4";
}
.ion-ios-arrow-down:before,
.ion-ios-arrow-down-outline:before,
.ion-md-arrow-down:before {
  content: "\f3d0";
}
.ion-md-arrow-forward:before,
.ion-ios-arrow-forward:before {
  content: "\f3d1";
}
.header-md::after,.header-ios::after{
  background-image: inherit;
}
//头部
.remind-not,.modal-remind-not{
  width: 90%;
  margin: 0 auto;
  text-align: center;
  padding-top: 40%;
  color: #fff;
}
ion-datetime {
  position: relative;
}
.segment-md .segment-button:hover:not(.segment-activated),
.segment-ios .segment-button:hover:not(.segment-activated) {
  background-color: initial;
  }
boby{
  font-family: "微软雅黑 Light";
}
.ion-md-arrow-down:before {
  content: "\f3d0";
}
.toolbar-title-md,.toolbar-title-ios{
  text-align: center;
}

ion-navbar.toolbar{
  display: none;
}
p {
  display: block;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
//ion-content
.content-md,.card-md,.content-ios,.card-ios{
  background: #f2f2f2;
}

.row{
  align-items: center;
}
.fab{
  border-radius: inherit;
}
.fab[mini]{
  margin: 0;
  opacity: 0;
}
ion-fab[top]{
  top:0;
}
.fab-md,.fab-ios{
  background:#222;
  color:white;
}
ion-slides {
  height: auto;
}

ion-header{

  .back-button.show-back-button {
    display: inline-block;
  }
  .bar-button-default-ios,
  .bar-button-default-md{
    color: white;
    background-color: transparent;
  }
  .back-button-md{
    margin: 0;
    z-index: 99;
    overflow: visible;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    min-height: 3.2rem;
    line-height: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  .toolbar-ios ion-title,.toolbar-md ion-title{
    background: #222;
  }
  .toolbar-title-ios,.toolbar-title-md{
    color:white;
  }
  .toolbar-md ion-title {
    left: 0;
    top: 0;
    padding: 0 90px 1px;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    pointer-events: none;
  }
  .customer{
    background: #222;
  }
}
#con{
  .list-md,.list-ios{
    margin:0 0 -5px 0;
  }
  ion-list{
    padding-top: 10px;
  }
  .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block{
    border-bottom: none;
  }
  .list-ios > .item-block:first-child{
    border-top:none;
  }
  .item-ios, .item-md {
    background: inherit;
  }
  ion-label {
    overflow: initial;
    text-overflow: initial;
    white-space: inherit;
  }
  .item-block {
    -webkit-box-align: inherit;
    -webkit-align-items: inherit;
    -ms-flex-align: inherit;
    align-items: inherit;
  }
  .list-ios .item-block .item-inner,
  .list-md .item-block .item-inner {
    border-bottom: none;
  }
  .item-md ion-avatar ion-img, .item-md ion-avatar img,
  .item-ios ion-avatar ion-img, .item-ios ion-avatar img {
    border-radius: 50%;
    overflow: hidden;
    width: 45px;
    height: 45px;
  }
  .time{
    text-align: center;
    padding-bottom: 8px;
  }
  .time>span{
    width:auto;
    padding:0.2rem 1rem;
    border-radius: 1rem;
    background: #bebebe;
    font-size:1rem;
    color: #f5f5f5;
  }
  .name-other>span,.name-self>span{
    max-width:80%;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .direction-other:after,.direction-self:after,.name-self:after{
    content: "";
    display: block;
    clear: both;
  }
  .name-self>span{
    float: right;
  }
  .direction-self,.direction-other {
    background: white;
    max-width: 80%;
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-weight:normal;
    position: relative;
    color: #170501;
    letter-spacing: 1.5px;
    font-size:1.4rem;
    float:left;
    border:1px solid #d9d9d9;
    min-width:30px;
    min-height:30px;
  }
  .item-block .direction-self{
    float: right;
  }
  .label-ios {
    margin: 0 8px 11px 0;
  }
  .label-ios .direction-self{
    margin: 5px 3px 0 0;
  }
  .item-ios ion-avatar[item-left], .item-ios ion-thumbnail[item-left], .item-ios ion-avatar[item-start], .item-ios ion-thumbnail[item-start]{
    margin:8px 8px 8px 0;
  }
  .label-ios .direction-other,.label-md .direction-other{
    margin: 5px 3px 0 8px;
  }
  .direction-self>span,.direction-other>span{
    display: block;
    position: absolute;
    right: -5.4px;
    top: 6px;
    z-index: 0;
    background: white;
    transform: rotate(40deg);
    -webkit-transform: rotate(40deg);
    width: 10px;
    height: 10px;
    border-top:1px solid #d9d9d9;
    border-right:1px solid #d9d9d9;
  }
  .direction-other>span{
    border-right:0;
    border-left:1px solid #d9d9d9;
    right: inherit;
    left:-5.4px;
    transform: rotate(-40deg);
    -webkit-transform: rotate(-40deg);
  }
}


/*底部 ion-footer*/
ion-footer{
  .toolbar-background-ios,.toolbar-background-md{
    background: #f2f2f2;
  }
  .toolbar-content-ios,.toolbar-content-md{

    //min-height:3rem;
    text-align: left;
  }
  .toolbar-ios ion-title,.toolbar-md ion-title{
    padding:0;
    top:inherit;
    left:inherit;
    position: inherit;
  }
  .inputBox{
    width:100%;
    height:auto;
    max-height:5rem;
    overflow-y: auto;
    text-align: left;
    padding:5px;
    background: white;
  }
  .toolbar-title{
    overflow: initial;
    width: 100%;
    text-overflow: initial;
    white-space: inherit;
    font-size:1.5rem;
    font-weight: normal;
  }
  .toolbar-ios{
    padding:0;
  }
  .toolbar-ios,
  .toolbar-md{
    padding:0;
    min-height:44px;
  }
  .button-md{
    height:44px;
  }
}

.no{
  color: #b3b4b4;
  text-align: center;
  padding-top: 10px;
}
